version: "3"
services:
  server:
    image: klakegg/hugo:0.93.2-ext-ubuntu-onbuild
    container_name: hugo-server
    # uncommnet this when first run
    # command: new site /src -f yml
    command: server
    volumes: 
      - "./hugo:/src"
    ports: 
      - "1313:1313"
